/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

/* variables */
:root {
    /* brand colors */
    --blue: #186b8c;
    --dark: #0D2340;
    --dark-in-rgb: 13, 35, 64;
    --red: #CE1E27;
    --creme: #BFA58E;

    /* brand fonts */
    --text: 'Poppins';
    --title: 'Oswald';
}

/* global styles */
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.btn {
    cursor: pointer;
    font-family: var(--title);
    font-style: normal;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title);
    font-style: normal;

    color: var(--dark);
}

p {
    font-family: var(--text);
    font-style: normal;
    font-weight: 300;

    color: var(--dark);
}


